.skills_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* background-color: #a26c44; */
    background-color: #fff;
}

.skills_heading {
    padding-top: 15px;
    /* color: #f9bf2b; */
    color: #101010;
    padding-bottom: 15px;
}

.skills {
    display: flex;
}

.skill_item {
    margin: 20px 20px 20px 10px;
}

.skill_img {
    height: 60px;
    width: 60px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 4px 6px 1px;
    transition: all 0.2s linear;
    border-radius: 4px;
}

.skill_img:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 3px 8px 10px 3px;
    transform: scale(1.02);
}
