.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #000555;
    padding: 100px;
    /* background-color: #eee; */
    /* background-image: linear-gradient(to right, #ddd, #f9f9f9); */
    /* background-color: #f2bc94; */
    /* background-image: linear-gradient(to right, #300000, #600000); */
}
.header_name {
    text-align: center;
    font-weight: 800;
    padding-bottom: 30px;
    width: 640px;
    text-align: center;
    font-size: 40px;
}

.navigation_list {
    /* width: 100%; */
    display: flex;
    justify-items: center;
    justify-content: space-around;
    text-decoration: none;
    width: 480px;
}

ul {
    list-style-type: none;
}

/* .navigation {
    width: 50%;
} */
