.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #000555;
    padding: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
.header_name {
    text-align: center;
    font-weight: 800;
    padding-bottom: 30px;
    /* width: 640px; */
    text-align: center;
    font-size: 40px;
}

.navigation_list {
    /* width: 100%; */
    display: flex;
    justify-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.block_display {
    display: block;
}

ul {
    list-style-type: none;
}

ul li {
    padding-left: 7px;
    padding-right: 7px;
    /* text-wrap: nowrap; */
}
.a_link {
    color: #000555;
}
a_link:visited {
    color: #000555;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 50px 20px 30px 20px;
        font-size: 16px;
    }

    .header_name {
        font-size: 32px;
        padding-bottom: 20px;
    }
}
