.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 50px 0 50px;
    color: #000555;
}

footer * {
    padding: 5px;
}
.footer_contact {
    font-size: 32px;
}

.footer_content {
    text-align: center;
    font-size: 16px;
    padding: 50px;
}

.footer_tlf_email {
    font-size: 18px;
}

.github_img {
    height: 60px;
    width: 60px;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 20px 20px;
    }

    .footer_content {
        font-size: 14px;
        padding: 20px;
    }

    .footer_contact {
        font-size: 24px;
    }

    .footer_tlf_email {
        font-size: 14px;
    }
}
