.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 50px 0 50px;
    color: #000555;
}

footer * {
    padding: 5px;
}

.footer_content {
    text-align: center;
    font-size: 14px;
    padding: 50px;
}

.github_img {
    height: 60px;
    width: 60px;
}

@media screen and (max-width: 480px) {
    .footer {
        padding: 50px 20px;
    }
}
